<div class="tab-group">
  <div class="tab">
    <div class="tab-label">Início</div>
    <div class="tab-content"></div>
  </div>
  <div class="tab">
    <div class="tab-label">Cadastros</div>
    <div class="tab-content"></div>
  </div>
  <div class="tab">
    <div class="tab-label">Produtos</div>
    <div class="tab-content"></div>
  </div>
  <div class="tab">
    <div class="tab-label">Movimentação</div>
    <div class="tab-content"></div>
  </div>
  <div class="tab">
    <div class="tab-label">Contas</div>
    <div class="tab-content"></div>
  </div>
  <div class="tab">
    <div class="tab-label">Relatórios</div>
    <div class="tab-content"></div>
  </div>
  <div class="tab">
    <div class="tab-label">Sistema</div>
    <div class="tab-content"></div>
  </div>
</div>
