<div id="main-header">
  <div style="flex-grow: 1;">
    <img id="simbolo-v-header" src="../assets/icons/simbolo-viatech-branco-24.png" />
    <span>ViaTech Sistemas</span>
  </div>
  <div id="btn-pagina-div" style="flex-grow: 2;">
    <div id="info-empresa-div"><img src="../assets/icons/predio-24.png">{{empresa}}</div>
    <div id="info-usuario-div"><img src="../assets/icons/usuario-24.png">{{usuario}}</div>
    <div class="btn-pagina btn-pagina-minimizar" style="font-size: 1.5rem; line-height: 16px;">-</div>
    <div class="btn-pagina btn_pagina-fechar" style="line-height: 20px;">X</div>
  </div>
</div>
