<div id="main-div">
  <div id="main-header">
    <div>
      <img id="simbolo-v-header" src="../assets/icons/simbolo-viatech-branco-24.png" />
      <span>ViaTech Sistemas</span>
    </div>
    <div></div>
    <div id="btn-pagina-div">
      <div class="btn-pagina btn-pagina-minimizar" style="font-size: 1.5rem; line-height: 16px;">-</div>
      <div class="btn-pagina btn_pagina-fechar" style="line-height: 20px;">X</div>
    </div>
  </div>
  <div id="main-content">
    <p>content</p>
  </div>
  <div id="main-footer">
    <p>footer</p>
  </div>
</div>

<router-outlet></router-outlet>
